In [10]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt

# Display all columns
pd.set_option('display.max_columns', None)

# 1. Importing data from nflfastR

In [44]:
# Player stats from 1999 - 2020
df_players = pd.read_csv('https://github.com/nflverse/nflfastR-data/blob/master/data/player_stats.csv.gz?raw=True', compression='gzip', low_memory=False)
# Play-by-play stats from 2004 - 2020
df_week = pd.DataFrame()
years = list(range(2004,2021))

for i in years:  
    #low_memory=False eliminates a warning
    i_data = pd.read_csv('https://github.com/nflverse/nflfastR-data/blob/master/data/' \
                         'play_by_play_' + str(i) + '.csv.gz?raw=True',
                         compression='gzip', low_memory=False)
    #sort=True eliminates a warning and alphabetically sorts columns
    df_week = df_week.append(i_data, sort=True)

#Give each row a unique index
df_week.reset_index(drop=True, inplace=True)
df_players.reset_index(drop=True, inplace=True)

# 2. Create an index for every quarter back
- player_id
- player_name
- attempts > 150
- interceptions
- passing_epa
- passing_yards
- passing_tds
- rushing_tds
- rushing_yards
- season

In [56]:
# Columns used to create an index
columns = ['player_id', 'player_name', 'recent_team', 'season', 'attempts', 'passing_yards', 'passing_tds', 'interceptions', 'passing_epa', 'rushing_yards', 'rushing_tds', 'rushing_epa', 'receiving_yards', 'receiving_tds', 'receiving_epa']
df = df_players[columns]

df.head()

,player_id,player_name,recent_team,season,attempts,passing_yards,passing_tds,interceptions,passing_epa,rushing_yards,rushing_tds,rushing_epa,receiving_yards,receiving_tds,receiving_epa
0,00-0000003,A.al-Jabbar,MIA,1999,0,0,0,0,NaN,60,1,6.248771,7,0,0.292378
1,00-0000003,A.al-Jabbar,MIA,1999,0,0,0,0,NaN,33,0,-1.434950,18,0,0.377009
2,00-0000003,A.al-Jabbar,MIA,1999,0,0,0,0,NaN,2,0,-1.539952,0,0,-0.699578
3,00-0000003,A.al-Jabbar,CLE,1999,0,0,0,0,NaN,27,0,0.216051,8,0,-0.228454
4,00-0000003,A.al-Jabbar,CLE,1999,0,0,0,0,NaN,39,0,-2.972259,0,0,NaN

In [60]:
# Only count for seasons 2004, 2007-2020
# Pass attempts > 150

,player_id,player_name,recent_team,season,attempts,passing_yards,passing_tds,interceptions,passing_epa,rushing_yards,rushing_tds,rushing_epa,receiving_yards,receiving_tds,receiving_epa
25019,00-0000007,R.Abdullah,NE,2004,0,0,0,0,NaN,4,0,0.921181,0,0,NaN
25020,00-0000007,R.Abdullah,NE,2004,0,0,0,0,NaN,4,1,-1.904898,0,0,NaN
25021,00-0000007,R.Abdullah,NE,2004,0,0,0,0,NaN,0,0,NaN,9,0,-0.472901
25022,00-0000007,R.Abdullah,NE,2004,0,0,0,0,NaN,-5,0,-3.206260,0,0,NaN
25023,00-0000007,R.Abdullah,NE,2004,0,0,0,0,NaN,5,0,-0.778663,0,0,NaN