In [2]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt

# Display all columns
pd.set_option('display.max_columns', None)

# 1. Importing data from nflfastR

## Player stats from 1999-2021

In [54]:
# Player stats from 1999 - 2020
players = pd.read_csv('https://github.com/nflverse/nflfastR-data/blob/master/data/player_stats.csv.gz?raw=True', compression='gzip', low_memory=False)
# Clean dataset to relevant features
player_cols = ['player_id', 'player_name', 'recent_team', 'season', 'attempts', 'passing_yards', 'passing_tds', 'interceptions', 'passing_epa', 'rushing_yards', 'rushing_tds', 'rushing_epa', 'receiving_yards', 'receiving_tds', 'receiving_epa']
players = players[player_cols]
players = players[players['season'] > 2003]
players = players.groupby(by=['player_id', 'player_name' ,'season']).sum().reset_index()
players = players[players['attempts'] > 150]
players[['games_played', 'games_won']] = 0
# Reset index
players.reset_index(drop=True, inplace=True)

In [58]:
players

,player_id,player_name,season,attempts,passing_yards,passing_tds,interceptions,passing_epa,rushing_yards,rushing_tds,rushing_epa,receiving_yards,receiving_tds,receiving_epa,games_played,games_won
0,00-0001361,D.Bledsoe,2004,450,2932,20,16,-5.504914,37,0,-26.410258,0,0,0.00000,0,0
1,00-0001361,D.Bledsoe,2005,499,3639,23,17,49.636255,50,2,-16.842114,0,0,0.00000,0,0
2,00-0001361,D.Bledsoe,2006,169,1164,7,8,-9.104732,28,2,5.191342,0,0,0.00000,0,0
3,00-0001823,A.Brooks,2004,542,3810,21,16,21.365124,173,4,-1.763936,1,0,-1.01059,0,0
4,00-0001823,A.Brooks,2005,431,2882,13,17,-0.005333,281,2,12.187958,0,0,0.00000,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687,00-0036898,D.Mills,2021,209,1357,7,8,-44.458187,8,0,-3.604865,0,0,0.00000,0,0
688,00-0036945,J.Fields,2021,198,1361,4,8,-50.688861,311,2,3.771274,0,0,0.00000,0,0
689,00-0036971,T.Lawrence,2021,356,2141,8,9,-33.687890,192,2,6.305733,0,0,0.00000,0,0
690,00-0036972,M.Jones,2021,349,2540,14,8,21.555121,60,0,4.560912,0,0,0.00000,0,0
691,00-0037013,Z.Wilson,2021,181,1168,4,9,-51.112740,22,0,0.053111,0,0,0.00000,0,0

## Game stats from 2004-2020

In [66]:
season_data.head(15)

,game_id,game_date,home_team,home_score,away_team,away_score,passer_player_name,passer_player_id
2,2004_01_ARI_STL,2004-09-12,LA,17,ARI,10,J.McCown,00-0021206
17,2004_01_ARI_STL,2004-09-12,LA,17,ARI,10,M.Bulger,00-0019599
177,2004_01_ATL_SF,2004-09-12,SF,19,ATL,21,M.Vick,00-0020245
187,2004_01_ATL_SF,2004-09-12,SF,19,ATL,21,T.Rattay,00-0019623
234,2004_01_ATL_SF,2004-09-12,SF,19,ATL,21,K.Dorsey,00-0022039
360,2004_01_BAL_CLE,2004-09-12,CLE,20,BAL,3,J.Garcia,00-0005755
363,2004_01_BAL_CLE,2004-09-12,CLE,20,BAL,3,K.Boller,00-0022164
531,2004_01_CIN_NYJ,2004-09-12,NYJ,31,CIN,24,C.Palmer,00-0021429
538,2004_01_CIN_NYJ,2004-09-12,NYJ,31,CIN,24,C.Pennington,00-0019559
691,2004_01_DAL_MIN,2004-09-12,MIN,35,DAL,17,V.Testaverde,00-0016193
701,2004_01_DAL_MIN,2004-09-12,MIN,35,DAL,17,D.Culpepper,00-0003739
729,2004_01_DAL_MIN,2004-09-12,MIN,35,DAL,17,M.McBriar,00-0021488
789,2004_01_DAL_MIN,2004-09-12,MIN,35,DAL,17,R.Moss,00-0011754
865,2004_01_DET_CHI,2004-09-12,CHI,16,DET,20,R.Grossman,00-0022121
872,2004_01_DET_CHI,2004-09-12,CHI,16,DET,20,J.Harrington,00-0021141

In [44]:
# Play-by-play stats from 2004 - 2020
play_cols = ['game_id', 'game_date', 'home_team', 'home_score', 'away_team', 'away_score', 'passer_player_name', 'passer_player_id']
plays = pd.DataFrame()
years = list(range(2004,2021))

for i in years:  
    # low_memory=False eliminates a warning
    season_data = pd.read_csv('https://github.com/nflverse/nflfastR-data/blob/master/data/play_by_play_' + str(i) + '.csv.gz?raw=True', compression='gzip', low_memory=False)
    # Clean dataset to relevant features
    season_data = season_data[play_cols]
    season_data.dropna(axis=0, how='any', inplace=True)
    season_data.drop_duplicates(inplace=True)
    
    # season_data = add_games_played(season_data)
    # season_data = add_games_won(i, season_data)

    # sort=True eliminates a warning and alphabetically sorts columns
    plays.append(season_data, sort=True)

#Give each row a unique index
plays.reset_index(drop=True, inplace=True)